{
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {},
    "plugins": ["react", "@typescript-eslint", "react-hooks"],
    "rules": {
        "no-extra-semi": "warn",
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/no-empty-function": "off",
        "no-param-reassign": ["error", { "props": false }],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": ["error"],
        "no-var": "error",
        "camelcase": "off",
        "no-console": "off",
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "warn",
        "import/prefer-default-export": "off",
        "react/prop-types": "off",
        "dot-notation": "off",
        "import/no-unresolved": "off",
        "react/require-default-props": "off"
    },
    "settings": {
        "import/resolver": {
            "typescript": {
                "project": "./tsconfig.json"
            }
        }
    }
}
