@import 'src/styles/mixins';

.wrapper {
    display: grid;
}

.column {
    @include custom-min-width($lg) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}

.row {
    grid-auto-flow: row;
}

.min-content {
    grid-auto-columns: min-content;
}

.max-content {
    grid-auto-columns: max-content;
}
